/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: rgb(219, 219, 219);
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
  background: #fff;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{

  height: 50px;
  width: 60px;
  margin: 2rem 8rem 2rem 2rem;
}
.barra_busqueda{
  display: flex;
  align-items: center;
}
.barra_busqueda input{
  padding: 9px;
  width: 250px;
  background: rgb(228, 228, 228);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.barra_busqueda i{
  padding: 0.66rem;
  cursor: pointer;
  color: #fff;
  background: #2570ff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.iconos_notificacion{
  display: flex;
  align-items: center;
}
.iconos_notificacion i{
  margin-right: 2rem;
  cursor: pointer;
  color: #2570ff;
}
.iconos_notificacion .cuenta{
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.iconos_notificacion .cuenta img{
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
}
.container{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

/* Side menubar section */
nav{
  background: #fff;
}
.menu_izquieda{
  padding: 1px;
  display: flex;
  flex-direction: column;
}
.menu_izquieda span{
  color: gray;
  margin: 1rem 3rem;
  font-size: 12px;
}
.menu_izquieda a{
  width: 100%;
  padding: 0.8rem 3rem;
  font-weight: 500;
  font-size: 15px;
  color: rgb(100, 100, 100);
}
.menu_izquieda a:hover{
  background: rgb(235, 235, 235);
}
.menu_izquieda .active{
  border-left: 2px solid #2570ff;
}

/* Seccion dentro del dashboard */
.bienvenida{
  width: 70%;
  padding: 1rem;
}
.texto{
  width: 100%;
  color: #fff;
  margin-top: 10px;
  border-radius: 8px;
  padding: 0.5rem 1rem 1rem 3rem;
  background:#2570ff;
}
.texto h1, .texto span, button{
  margin: 10px;
}

.texto h1{
  color:transparent;
  -webkit-text-stroke: 2px #ffffff;
  font-size: 38px;
}
.texto button{
  display: block;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.lista_proveedores{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titulo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
table{
  background: #fff;
  padding: 1rem;
  text-align: left;
  border-radius: 10px;
}
table td, th{
  padding: 0.2rem 0.8rem;
}
table th{
  font-size: 15px;
}
table td{
  font-size: 13px;
  color: rgb(100, 100, 100);
}



/* Seccion resumen, parte derecha */
.titulo_resumen{
  width: 15%;
  padding: 2rem 1rem;
  background: #fff;
}
.titulo_resumen h5{
  margin-bottom: 1.5rem;
}
.titulo_resumen .resumen{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.resumen .icon{
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
  margin-right: 1rem;
  padding: 1rem;
  background: #2570ff;
}
.resumen .info h4{
  font-size: 16px;
}
.resumen .info span{
  font-size: 14px;
  color: rgb(100, 100, 100);
}
.resumen .info i{
  margin-right: 2px;
}